/* Google imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterick wildcard selector to override default styles set by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height:100vh;
    display:flex;
    flex-direction: column;
    /* Generic Styles */
    color: #3a3a3a;
    font-family:'Montserrat', sans-serif;;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4{
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    color: #957FEF;
}

h2 {
    padding-bottom: 15px;
}
h3 {
    padding-bottom: 10px;
}

/* Main Content */
main {
    margin-top: 42px;
/* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    padding-bottom: 30px;
}

/* Front Page Yoga Img */
#yoga-img-one {
    height: 600px;
    width: 100%;
    background: url("../img/2150838405.webp") no-repeat center center/cover;
    position: relative;
}
.img-layout {
    display: flex;
    align-items: center;
    margin: 40px auto;
    padding: 0 10px;
    flex-direction: column;
    gap: 20px;
}

.img-layout img {
    max-width: 100%;
    max-height: 150px;
}

p a {
    text-decoration: none;
}

#quote {
    font-weight: bold;
    color: #ffffff;
    font-size: 350%;
    text-align: center;
    padding: 10px;
}
#invite {
    color: #ffffff;
    padding: 10px;
}

#cover-text {
    bottom: 10px;
    position: absolute;
    background-color: rgb(255, 207, 239, .7);
}

#welcome {
    color: #957FEF;
    text-align: center;
    font-size: 200%;
    padding: 60px;
}

/* Container Styles */

#container-two {
    text-align: center ;
    padding: 0 50px 0 50px;
    border: 10px;
}

#container-two h2 {
    padding-bottom: 10px;
    font-weight: bold;
}

.layout {
    padding: 10px 50px 0 50px;
    border: 10px;
    text-align: center;
}

.layout li {
    list-style-type: none;
}

li {
    padding-bottom: 20px;
}


/* Footer */
#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #957FEF;
}

#social-network i {
    font-size: 160%;
    padding: 3%;
    color: #E090DF;
}

#menu {
    font-size:110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #957FEF;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: inherit ;
    width:100%;
    padding: 0 16px;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display:none;
    top:100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size:2rem;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Media Query: Tables and larger devices (768px and up) */
@media screen and (min-width: 768px) {

    .img-layout img {
        max-width: 100%;
        max-height: 333px;
    }

    nav {
        display:block;
        position: relative;
        box-shadow: none;
        width:fit-content;
        padding-right: 1rem;
    }

    #menu {
        display:flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display:none;
    }
    #logo {
        color: #A4036B;
        font-size:200%;
        line-height:75%;
        margin: 15px 0.5rem 0;
    }

    /*Main*/
    main {
        /* Push main content page down inorder to see content of page*/
        margin-top: 82px;
    }
}

/* Contact Us Style */
.contact-container {
    padding: 20px;
    width: 100%;
    height:100vh;
    align-items: center;
}

.contact-container h1, .contact-container p {
    text-align: center;
}

form {
    background: #E090DF;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width:100%;
    max-width: 800px;
    border-radius: 10px;
    margin: 20px auto;
}
form input, textarea {
    border:0;
    margin:10px 0;
    padding: 20px;
    background: #f5f5f5;
    font-size: 16px;

}
/* Large devices (Laptops and desktop, 922px and up) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #E090DF;
        color: aqua;
    }

    .img-layout {
        max-width: 1400px;
        justify-content: center;
        margin: 40px auto;
        padding: 0 40px;
        flex-direction: row;
        gap: 40px;
    }

    .img-layout img {
        max-width: 100%;
        max-height: 283px;
    }

}
