/* Google imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles set by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height:100vh;
    display:flex;
    flex-direction: column;
    /* Generic Styles */
    color: #3a3a3a;
    font-family:'Montserrat', sans-serif;;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4{
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    color: #957FEF;
}

h2 {
    margin-bottom: 1em;
}

h3 {
    padding-bottom: 10px;
}

h4 {
    padding-bottom: 15px;
}

.heading {
    padding-top: 10px;
}

ul {
    padding-left: 40px;
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
}

#logo {
    color: #A4036B;
    font-size:200%;
    line-height:75%;
    margin: 15px 0.5rem 0;
}

/* Page Title Banner */
.page-title {
    padding: 40px 20px;
    border-bottom: solid 1px #e4cfff;
    border-top: solid 1px #e4cfff;
    background-color: #f8f1ff;
    text-align: center;
}

/* Main Content */
main {
    margin-top: 42px;
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    padding-bottom: 30px;
}

/* Front Page Yoga Img */
#yoga-img-one {
    height: 600px;
    width: 100%;
    background: url("../img/2150838405.webp") no-repeat center center/cover;
    position: relative;
}

.img-layout {
    display: flex;
    align-items: center;
    margin: 40px auto;
    padding: 0 10px;
    flex-direction: column;
    gap: 20px;
}

.img-layout img {
    max-width: 100%;
}

.yoga-list{
    padding: 20px 0;
}

.yoga-bullet-point {
    border-bottom: 1px solid #E090DF;
    padding: 10px;
    text-align: center;
    display: block;
}

.yoga-icon {
    list-style-image: url("../img/girl+4.png");
}

p a {
    text-decoration: none;
}

#quote {
    font-weight: bold;
    color: #ffffff;
    font-size: 150%;
    text-align: left;
    padding: 10px;
}
#invite {
    color: #ffffff;
    padding: 10px;
}

#cover-text {
    bottom: 30px;
    position: absolute;
    background-color: rgb(255, 207, 239, .7);
    width:80%;
    min-height: 200px;
}

#welcome {
    color: #957FEF;
    text-align: center;
    font-size: 200%;
    padding: 60px;
}

/* Container Styles */
#container-two {
    text-align: left ;
    padding: 0 50px 0 50px;
}

#container-two h2 {
    padding-bottom: 10px;
    font-weight: bold;
}

.layout {
    padding: 10px 50px 0 50px;
}

.layout li {
    list-style-type: none;
}

li {
    padding-bottom: 20px;
}
.yoga-getting-started {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* About Us Page Styles */
.who-we-are, .our-goal, .contact-us {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

/* Contact Us Style */
.contact-us {
    gap: 20px;
    justify-content: center;
}

form {
    background: #E090DF;
    display: flex;
    padding: 2vw 4vw;
    width:100%;
    max-width: 800px;
    border-radius: 10px;
}

form input, textarea {
    border:0;
    margin:10px 0;
    padding: 20px;
    background: #f5f5f5;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #f5f5f5;
    color: grey;
    border-radius: 15px;
}

.contact-us h2 {
    text-align: center;
}

.background-style {
    height: 90%;
}

/* Feedback Page Styles */
.feedback-thank-you {
    padding: 80px 30px;
    margin: 30px auto;
    max-width: 80%;
    border: solid 1px #EEE;
    background-color: #F5F5F5;
    text-align: center;
}

.social-network {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Footer */
footer {
    background-color: #E1E1E1;
}
.social-network-footer {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network-footer i {
    font-size: 160%;
    padding: 3%;
    color:  #A4036B;
}

#menu {
    font-size:110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #E1E1E1;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: inherit ;
    width:100%;
    padding: 0 16px;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display:none;
    top:100%;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size:2rem;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Contact Us Style */
.contact-container {
    padding: 20px;
    width: 100%;
    height:100vh;
    align-items: center;
}

.contact-container h1, .contact-container p {
    text-align: center;
}

form {
    background: #E090DF;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width:100%;
    max-width: 800px;
    border-radius: 10px;
    margin: 20px auto;
}

form input, textarea {
    border:0;
    margin:10px 0;
    padding: 20px;
    background: #f5f5f5;
    font-size: 16px;

}

.contact-us.form {
    max-width: 100%;
}

/* Video Styles For Yoga page */
.beginner-video .header {
    text-align: center;
    margin-bottom: 2em;
}

.beginner-video iframe {
    width: 100%;
    height: 250px;
}

.grey-background {
    background-color: #F5F5F5;
    border-bottom: solid 1px #EEE;
    border-top: solid 1px #EEE;
}

.section-layout {
    padding: 80px 30px;
}

.section-layout.narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.instructors {
   flex-direction: column;
    gap: 20px;
}

.instructors iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
}

.instructors > article {
    width: 100%;
}

/* About Us Image Styles */
aside img {
    width:100%
}

/* Media Query: Tables and larger devices (768px and up) */
@media screen and (min-width: 768px) {

    /* Font Page Styles */
    .img-layout img {
        max-width: 100%;
    }

    .img-layout > div {
        width: 33.33%
    }

    .heading-center {
        text-align: center;
    }

    .yoga-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center ;
        padding: 20px 20px;
        gap: 20px;
    }

    .yoga-bullet-point {
        margin-bottom: 15px;
        border: 2px solid #E090DF;
        border-radius: 7px;
        padding: 15px;
    }

    #container-four {
        display: flex;
        width:100%;
    }

    nav {
        display:block;
        position: relative;
        box-shadow: none;
        width:fit-content;
        padding-right: 1rem;
    }

    #menu {
        display:flex;
    }

    #menu a {
        white-space: nowrap;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display:none;
    }

    /* Main */
    main {
        /* Push main content page down inorder to see content of page*/
        margin-top: 82px;
    }

    .yoga-getting-started {
        flex-direction: row;
    }

    /* Form Styles */
    form {
        background: #E090DF;
        display: flex;
        padding: 2vw 4vw;
        width:100%;
        max-width: 800px;
        border-radius: 10px;
    }

    /* Video Styles For Large devices over 768 */
    .beginner-video iframe {
        width: 100%;
        height: 500px;
    }

    .instructors {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .instructors > article {
        width: 100%;
    }

    /* About Us Image Styles for Devices 768 and Larger */
    aside img {
        max-width:50%;
        max-height: 450px;

    }

    /* Font Page Cover Text Styles For 768 and Larger*/
    #cover-text {
        bottom: 10px;
        width: 100%;
        min-height: 80px;
    }

    #quote {
        font-size: 250%;
        text-align: center;
    }

}

/* Large devices (Laptops and desktop, 922px and up) */
@media screen and (min-width: 992px) {

    /* Header Menu Styles */
    #menu a:hover {
        border-bottom: 2px solid #E1E1E1;
        color: #A4036B;
    }

    .img-layout {
        max-width: 1400px;
        justify-content: center;
        align-items: start;
        margin: 40px auto;
        padding: 0 40px;
        flex-direction: row;
        gap: 40px;
    }

    .img-layout img {
        max-width: 100%;
        max-height: 350px;
    }

    /* About Us Page Styles for Large devices over 992 */

    .who-we-are, .our-goal, .contact-us {
        display: flex;
        gap: 40px;
    }

    .who-we-are > article, .our-goal > article, .contact-us > article.form {
        width: 66.6%;
    }

    .who-we-are {
        flex-direction: row;
    }

    .our-goal {
        flex-direction: row-reverse;
    }

    .our-goal > aside {
        text-align: left;
    }

    .who-we-are > article {
        width: 66.6%;
    }

    /* Increase Font Size for Font Page Quote for 992 and larger */

    #quote {
        font-size: 250%;
        text-align: left;
    }

    /* Video Styles For Large devices over 992 */

    .instructors {
        flex-direction: row;
    }

    .instructors > article {
        width: 33.33%;
    }

    .contact-us {
        flex-direction: row;
    }

    /* Feedback Page Styles */
    .feedback-thank-you {
        margin: 40px auto;
        max-width: 800px;
    }


}

